@font-face {
    font-family: Franklin;
    src: url(/assets/FranklinGothic.ttf);
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color: #3e454c;
    --background-color: #fff;
}

body{
    color: var(--color);
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: all 0.5s;
}

body.active{
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: var(--color);
    transition: 0.3s;
}

.parallax-container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    transition: all 0.5s;
}

.parallax-container.active{
    opacity: 0;
}

.parallax{
    position: relative;
}

.par-img{
    width: 24px;
    height: 24px;
    position: absolute;
}

#par-img1{
    left: 100px;
    top: 500px;
}

#par-img2{
    right: 250px;
    top: 350px;
}

#par-img3{
    right: 200px;
    top: 600px;
}

#par-img4{
    right: 200px;
    top: 100px;
    transform: rotate(45deg);
}

#par-img5{
    left: 300px;
    top: 150px;
    transform: rotate(20deg);
}

#par-img6{
    top: 600px;
    left: 900px;
    transform: rotate(85deg);
}

#par-img7{
    top: 100px;
    right: 800px;
    transform: rotate(20deg);
}

#par-img8{
    top: 650px;
    left: 350px;
}

.envelope-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 9;
}

.envelope-container:hover{
    transform: scale(1.05);
}

.envelope{
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.envelope-black{
    display: none;
}

.envelope-black.active{
    display: block;
}

.envelope-white{
    display: none;
}

.envelope-white.active{
    display: block;
}

.navbar{
    height: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 65vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}

.navbar.active{
    opacity: 0;
}

.navbar a:hover{
    color: #ea4f38;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.nav-right ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    line-height: 1.6em;
}

.nav-right img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-right img:hover{
    transform: scale(0.85);
}

.nav-left img{
    height: 60px;
    width: 60px;
}

.tomato{
    color: #ea4f38;
}

.content-container{
    width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}

.content-container.active{
    opacity: 0;
}

.intro-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.intro-container.active{
    opacity: 0;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 90vh;
    font-size: 28px;
    position: relative;
}

.intro h1{
    font-size: 72px;
    margin-bottom: 25px;
}

.intro p{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.8rem;
}

.intro-icons{
margin-top: 15px;
display: flex;
justify-content: space-between;
width: 90px;
}

.intro-icons img{
    height: 24px;
    width: 24px;
    transition: 0.5s;
}

.intro-icons img:hover{
    transform: scale(0.90);
}

.icon-scroll:before{
    position: absolute;
    left: 50%;
    z-index: 1;
}

.icon-scroll{
    width: 25px;
    height: 35px;
    margin-left: -20px;
    bottom: 1px;
    left: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px #ea4f38;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
}

.icon-scroll:before{
    content: '';
    width: 5px;
    height: 5px;
    background: #ea4f38;
    margin-left: -2px;
    top: 20%;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    z-index: 1;
}

@keyframes scroll{
  0%{
    opacity: 1
}
  100%{
    opacity: 0
  }

  100%{
      transform: translateY(18px);
  }
}

.about-container{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 62%;
    margin: auto;
    margin-top: 7%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: -10;
}

.about-container.active{
    z-index: 1;
}

.about-container h1{
    font-size: 28px;
    margin-bottom: 8px;
}

.about-container .form-subheader{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
}

.about-me{
    width: 50%;
    height: 100%;
    color: #181818;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: #181818 0px 5px 24px;
    position: absolute;
    left: -1000px;
    transition: all 0.5s;
}

.about-me.active{
    left: 0;
}


.about-me-content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-me-content p{
    line-height: 1.4rem;
    font-size: 16px;
}

.tech-stack{
    margin-top: 15%;
}

.tech-icon{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.about-form{
    width: 50%;
    height: 100%;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: #181818 0px 5px 24px;
    position: absolute;
    right: -1000px;
    transition: all 0.5s;
}

.about-form.active{
    right: 0;
}

.about-form-content{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

.tech-icon{
    width: 80%;
    margin: 0 auto;
    height: 50%;
    display: flex;
    justify-content: center;
}

.tech-icon img{
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}

.tech-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    width: 20%;
    justify-content: space-between;
    padding: 0 40px;
}

.tech-column p{
    transform: scale(0);
    transition: all 0.5s;
    font-size: 12px;
}

.tech-column:hover img{
    transform: scale(0.95);
}

.tech-column:hover p{
    transform: scale(1);
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.projects-container{
    transition: all 0.5s;
}

.projects-container.active{
    opacity: 0;
}

.form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.form-section label{
    margin-bottom: 5px;
}

.form-section input{
    width: 100%;
    height: 30px;
    outline: none;
    border-bottom: #3e454c 2px solid;
    background-color: #000;
    transition: all 0.4s;
    font-size: 14px;
    color: #fff;
}

.form-section input:focus{
    border-bottom:  2px solid #ea4f38;
}

.form-section textarea{
    width: 100%;
    height: 90px;
    resize: none;
    outline: none;
    border-bottom: #3e454c 2px solid;
    background-color: #000;
    transition: all 0.4s;
    font-size: 14px;
    color: #fff;
    
}

.form-section textarea:focus{
    border-bottom:  2px solid #ea4f38;
}

.form-section button{
    width: 50%;
    border: #ea4f38 solid 1px;
    border-radius: 5px;
    padding: 12px 5px;
    background-color: #ea4f38;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all 0.5s;
}

.form-section button:hover{
    background-color: #b63f2d;
}

.xbar{
    position: absolute;
    right: -1030px;
    top: 30px;
    z-index: 1;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 0.5s all;
}

.xbar.active{
    right: 30px;
}

.xbar1{
    width: 20px;
    height: 3px;
    border-radius: 5px;
    color: #fff;
    background-color: #fff;
    display: block;
    transform: translateY(3px) rotate(45deg);
}

.xbar2{
    width: 20px;
    height: 3px;
    border-radius: 5px;
    color: #fff;
    background-color: #fff;
    display: block;
    transform: rotate(-45deg);
}

.form-opener{
    cursor: pointer;
}

.form-closer{
    cursor: pointer;
}

#form-opener4{
    cursor: pointer;
}

.project{
    width: 50vw;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 5px 8px #3e454c;
    position: relative;
    margin: 30px 0;
    transition: all 0.3;
    background-color: #000;
    overflow: hidden;
}

.project img{
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.project img.active{
    opacity: 0.3;
    transform: scale(1.05);
}


.project-description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 5%;
    opacity: 0;
    transition: all 0.5s;
    width: 40%;
}

.project-description.active{
    opacity: 100%;
    bottom: 10px;
}



.project-description img{
    height: 24px;
    width: 24px;
}

.project-description img:hover{
    transform: scale(0.9);
}

.project-description h1{
    margin-bottom: 5px;
    font-size: 36px;
}

.project-description h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-description p{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}

.description-links a{
    margin-right: 5px;
}

.footer{
    width: 100vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin-top: 100px;
    transition: all 0.5s;
}

.footer.active{
    opacity: 0;
}

.footer-column{
    width: 65vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color);
}

.footer img{
    height: 60px;
    width: 60px;
}

.footer-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}

.footer-nav li{
    margin: 0 25px;
}

.footer-nav a{
    color: var(--color);
}

.footer-nav a:hover{
    color: #ea4f38;
}


.dark-mode{
    --background-color: #181818;
    --color: #b3b3b3;
}

@media screen and (max-width: 800px) {
    *{
        overflow-x: hidden;
    }
    
    html {
        overflow-x: hidden;
    }
    
    body{
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
    }

    .parallax{
        width: 100vw;
    }

    .navbar{
        width: 100%;
    }

    .nav-right{
        width: 70%;
        font-size: 16px;
    }

    .nav-left{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .nav-left img{
        width: 40px;
        height: 40px;
    }

    .content-container{
        margin: 0;
        width: 100%;
    }

    .intro-container{
        width: 90%;
        transition: all 0.75s;
    }

    .intro{
        width: 100%;
    }

    .intro h1{
        font-size: 52px;
    }

    .intro p{
        font-size: 20px;
    }

    .about-container{
        width: 90%;
    }

    .projects{
        width: 90%;
        height: 100%;
    }

    .project-container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .project-container h1{
        font-size: 24px;
    }

    .project{
        width: 100%;
        height: 200px;
    }


    .footer-column{
        width: 100%;
    }

    .envelope-container{
        position: fixed;
        right: 10px;
        bottom: 10px;
    }

    .about-container{
        height: 95vh;
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .about-me{
        height: 50%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        top: 0;
        left: -1500px;
        padding-bottom: 0;
    }

    .about-me-content{
        height: 95%;
        width: 90%;
        margin: 5px auto;
    }

    .text-info h1{
        font-size: 24px;
    }

    .text-info p{
        font-size: 14px;
    }

    .form-subheader{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .tech-stack{
        margin-top: 30px;
    }

    .tech-icon{
        height: 100%;
    }

    .about-form{
        height: 50%;
        width: 100%;
        bottom: 0;
        right: -1500px;
        padding-bottom: 0;
        border-radius: 0 0 20px 20px;
    }

    .about-form-content{
        height: 95%;
        width: 90%;
        margin: 5px auto;
    }

    .about-form-content h1{
        font-size: 24px;
    }

    .form-section{
        font-size: 14px;
    }

    .form-section textarea{
        height: 65px;
    }

    .about-me.active{
        top: 0px;
        left: 0px;
    }

    .about-form.active{
        bottom: 0px;
        right: 0px;
    }
    
    .footer-nav li{
        font-size: 14px;
        margin: 0 10px;
    }

    .footer-under-text{
        font-size: 14px;
    }

    .xbar{
        color: #000;
        right: 1501px;
        top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .xbar1{
        background-color: #000;
        transform: translateY(3px) rotate(-45deg);
    }

    .xbar2{
        background-color: #000;
        transform: translateY(0px) rotate(45deg);
    }

    .xbar.active{
        right: 1;
    }
}